body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header {
    position: fixed;
    font-family: 'Teko', sans-serif;
}

h1 {
    position: relative;
    text-align: center;
    text-shadow: 4px 4px #AEAEAF;
    font-style: oblique;
    color: #000000;
}

.centerDiv {
    width: 100vw;
    height: 65vh;
    text-align: center;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#startButton {
    display: inline-block;
    padding: 15px 25px;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #C70C0C;
    border: none;
    border-radius: 10px;
    
}

.button:hover {
    background-color: #A71A22;
}

.button:active {
    background-color: #A71A22;
    box-shadow: 0 5px #AEAEAF;
    transform: translateY(4px);
}

#startLights {
    display: none;
}

.dot {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #000000;
    border-radius: 50%;
}

/*font-family: 'Roboto Mono', monospace;
font-family: 'Teko', sans-serif;
font-family: 'Press Start 2P', cursive;
red #C11C26*/
