body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header {
    position: fixed;
    font-family: 'Teko', sans-serif;
}

h1 {
    position: relative;
    text-align: center;
    text-shadow: 4px 4px #AEAEAF;
    font-style: oblique;
    color: #000000;
}

/*font-family: 'Roboto Mono', monospace;
font-family: 'Teko', sans-serif;
font-family: 'Press Start 2P', cursive;
red #C11C26*/
